/* public/style.css */
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #5c4f6e, #2a5ba4);
}

.container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 350px;
}

.container h2 {
  text-align: center;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #7a1ef2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remember {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.remember .checkbox{
    width: 30px;
}

.remember a {
  color: #7d3cf8;
  text-decoration: none;
  font-weight: 500;
  margin-left: 70px;
}

.remember a:hover {
  text-decoration: underline;
}

a {
  color: #7a1ef2;
  text-decoration: none;
}
